/*
@media only screen and (min-width: 600px) {
}
	*/

body {
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden; 
	background-color: #FFFFFF;
	margin:0px;
}

p {
	position: relative;
	margin: 0px;
	display: block;
}


header {

}

.svg-container {
	padding:3vw 3vw 0vw 3vw;
	display: inline-block;
	position: relative;
	width: 93vw;	
}

#carefulclub {
	/*  hover to animate colors
	animation: color 8s linear infinite;
	animation-play-state: paused;
	cursor: crosshair;
	*/
}

#carefulclub:hover {
	/*  hover to animate colors
	animation-play-state: running;
	*/
}

.animatedcolor {
	animation:animatedcolor 2s;
}

@keyframes animatedcolor {
	0% {fill:#212121;}
	50% {fill:#EF3E2A;}
	100% {fill:#212121;}
}

#subhead {
	/* for placing the subhead to the right of the CLUB text
	font-size:1.8vw;
	top:-11vw;
	left:58vw;
	width:32vw;
	*/
	display: inline-block;
	font-size:2vw;
	top:0vw;
	left:0vw;
	width:32vw;
	color:#005EFF;
	padding: 5vw 0vw 5vw 3vw;
}

.hexes {
	cursor:pointer;
}

.hexes:hover {
	opacity: 55%;
}

.hex-icons {
	pointer-events: none
}

.hex-text {
	display: inline-block;
    color:#000;
}

#ethos-container {
	padding: 5vw 0vw 2vw 3vw;
	display: inline-block;
	right: 6vw;
	position: absolute;
	font-size: 1.9vw;
	width: 33vw
}

.recycle-hex {
	color:#FF3355;
}

.eye-hex {
	color:#00C288;
}

.handi-hex {
	color:#FFC400;
}

#background-rough-vector {
	
}

/*  hover to animate colors
@keyframes color {
	0% {fill:#EF3E2A;}
	7% {fill:#F16937;}
	15% {fill:#F7A66D;}
	22% {fill:#FDE0B4;}
	28% {fill:#71AFA5;}
	35% {fill:#008794;}
	42% {fill:#047094;}
	48% {fill:#254C75;}
	55% {fill:#047094;}
	62% {fill:#008794;}
	68% {fill:#71AFA5;}
	75% {fill:#FDE0B4;}
	82% {fill:#F7A66D;}
	89% {fill:#F16937;}
	100% {fill:#EF3E2A;}
}
*/



.project {
	padding: 6vw 0vw 6vw 12vw;
	color: #FFF;
	background-color: #005EFF;
	fill:#FFF;
}

.number {
	font-size: 5vw;
	position: relative;
}

.logo {
	margin: 4vw 0vw 0vw 0vw;
	width: 30vw;	

}

.responsibilities {
	font-size: 1.2vw;
	line-height:2.5vw;
	padding: 6vw 0vw 0vw 0vw;
	font-style: italic;
	position: relative;
}

.link-out {
	color: #FFC400;
	font-size: 2vw;
	padding:0vw 0vw 0vw 0vw;
	margin-top: 2vw;
	position: relative;
	display: inline-block;
}

.link-out-svg {
	position: relative;
	top: 0.3vw;
	padding: 0vw 1.5vw 0vw 0vw;
}

.project-notes {
	font-size: 1.2vw;
	line-height:2vw;
	position: relative;	
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	padding: 1.5vw 0vw 0vw 0vw;
	width: 35vw;
}

.notes-header {
	display: block;
	font-size: 1.2vw;
	line-height:2vw;
	position: relative;	
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	padding: 3.5vw 0vw 0vw 0vw;
	width: 35vw;
}

a {
	color: #FFC400;
}

a:hover {
	color: #FFD880;
	filter: brightness(1000%);
}



.hidden {
	display: none;
}
